{{#paper-subheader}}Shopping Cart{{/paper-subheader}}

<div class="shopping-cart">
  {{#each shoppingCart.cartItems as |cartItem|}}
  <CartItem @cartItem={{cartItem}} />
  {{/each}}
  <CartTotals @subtotal={{subtotal}} @discountAmount={{discountAmount}} @grandTotal={{grandTotal}} />
</div>