<div class="layout-row layout-xs-column ">
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{#paper-card as |card|}}
    {{#card.title as |title|}}
    {{#title.text as |text|}}
    {{#text.headline}}{{this.name}}{{/text.headline}}
    {{#text.subhead}}£{{this.price}}{{/text.subhead}}
    {{/title.text}}
    {{title.media size="sm" src=this.image}}
    {{/card.title}}

    {{#card.actions class="action-container"}}
    {{paper-input class="flex-20 action-container__input" label="quantity" type="number" value=quantity min="1"
    onChange=(action (mut quantity))}}
    {{#paper-button class="action-container__button" raised=true onClick=(action 'addToCart' this.product quantity )}}
    Add to cart
    {{/paper-button}}
    {{/card.actions}}
    {{/paper-card}}
  </div>
</div>