<div class="shopping-cart__totals">
  <div class="shopping-cart__totals-item">
    <label>Subtotal</label>
    <div class="shopping-cart__totals-value">{{this.subtotal}}</div>
  </div>
  <div class="shopping-cart__totals-item">
    <label>Discount saving</label>
    <div class="shopping-cart__totals-value">{{this.discountAmount}}</div>
  </div>
  <div class="shopping-cart__totals-item shopping-cart__totals-item--grand-total">
    <label>Grand Total</label>
    <div class="shopping-cart__totals-value">{{this.grandTotal}}</div>
  </div>
</div>
{{#paper-button raised=true class="checkout"}}Checkout{{/paper-button}}