
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
$color-pink: #F4C2C2;
$color-darker-pink: #F4C2DB;


.cart-item {
    &__container {
      padding: 20px 0;
      margin: 10px 0;
      border-bottom: 1px solid #dfeaf5;
    }
}

.shopping-cart {
  padding: 20px 30px 30px 20px;

  label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
    color: $color-label;
  }

  &__totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;

    &--grand-total {
      font-family: $font-bold;
    }
  }

  &__totals {
    padding-top: 20px;

  }

  &__totals-value {
    float: right;
    width: 21%;
    text-align: right;
  }

}

.checkout {
  float: right;
  padding: 0 20px;
  // margin-top: 20px;
  // padding: 6px 10px;
  // background-color: $color-pink;
  // color: #fff;
  // font-size: 20px;
}

.checkout:hover {
  background-color: #494;
}
