
$color-label: #aaa;
$color-pink: #F4C2C2;
$color-darker-pink: #F4C2DB;
$color-light-gray: #dfeaf5;


.cart-item {
    &__container {
      padding: 20px 0;
      margin: 10px 0;
      border-bottom: 1px solid $color-light-gray;
    }
}

.shopping-cart {
  padding: 20px 30px 30px 20px;

  label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
    color: $color-label;
  }

  &__totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;

    &--grand-total {
      font-weight: 600;
    }
  }

  &__totals {
    padding-top: 20px;

  }

  &__totals-value {
    float: right;
    width: 21%;
    text-align: right;
  }

}

.checkout {
  float: right;
  padding: 0 20px;
}

.checkout:hover {
  background-color: #494;
}
