{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to "index"}}
      <h1>Kantox Market</h1>
    {{/link-to}}
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{#link-to "checkout"}}
        {{paper-icon "shopping_cart"}}
      {{/link-to}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}