{{#paper-list}}
{{#paper-subheader}}Products{{/paper-subheader}}
{{#each this.model as |product|}}



{{#paper-item class="md-2-line" as |controls|}}
<img src={{product.image}} alt={{product.name}} class="md-avatar">
<div class="md-list-item-text">
    <h3>{{product.name}}</h3>
    <p>£{{product.price}}</p>
</div>
<div class="md-secondary-container">
    {{#controls.button secondary=true onclick=(action 'addToCart')}}
    More Info
    {{/controls.button}}
</div>
{{/paper-item}}



{{/each}}
{{/paper-list}}